.container{
  display: grid;
  grid-template-columns:4fr 1fr;
}
.shop-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.cart-container{
  background-color:cornsilk;
  position:sticky;
  top:0px;
}
.all-btn{
  display: grid;
  grid-template-columns:repeat(1,1fr) ; 
  width: 80%;
  margin: auto;
}
.choose-btn{
  background-color: blueviolet;
  border-radius: 15px;
 height: 30px;
}
.again-btn{
background-color: mediumseagreen;
margin-top: 10px;
border-radius: 15px;
height: 30px;
}